<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGTPbSPgP-zGZjqtm3H4rN_fCPVCUjRxE</string>
	<key>GCM_SENDER_ID</key>
	<string>246661865141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.siirart.poem.app</string>
	<key>PROJECT_ID</key>
	<string>siirart</string>
	<key>STORAGE_BUCKET</key>
	<string>siirart.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246661865141:ios:8157dc6ab92a7bc5ac68fc</string>
</dict>
</plist>